<div class="flex-column">
    <app-apadrinhamento-form #formApadrinhamento></app-apadrinhamento-form>
    <div class="justify-content-center">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <p-button class="mr-2" label="Novo" icon="pi pi-plus" (onClick)="formApadrinhamento.setVisible()"></p-button>
                <p-button label="Procurar" icon="pi pi-search" styleClass="p-button-success"></p-button>
                
            </div>
        </p-toolbar>
    </div>
    <div class="flex justify-content-center flex-wrap">
       
     <p-card class="col-md-3 m-3 text-center shadow-4" header={{dog.name}} subheader={{dog.regiao}} [style]="{width: '360px'}" *ngFor="let dog of dogs">
         
             <ng-template pTemplate="header">
                 <div class="flex overflow-y-hidden surface-overlay justify-content-center" style="height:200px">
                     <img alt="Image" src={{dog.img}} style="height: 200px; width: auto;">
                 </div>
             </ng-template>
     
         <ng-template pTemplate="footer">
             <p-dialog header={{dog.name}} [(visible)]="dog.display" [modal]="true" position="center">
                <div class="flex overflow-y-hidden surface-overlay justify-content-center" style="height:400px">
                    <img alt="Image" src={{dog.img}} style="height: 400px; width: auto;">
                </div>
             </p-dialog>
             <div class="flex justify-content-end">   
                 <button pButton class="p-button-rounded" label="Ver mais" (click)="dog.display = true"></button>
             </div>
         </ng-template>
     </p-card>
    </div>
 </div>