<p-dialog #form header="Novo Apadrinhamento" [(visible)]="formVisible" [draggable]="false" [resizable]="false" closeIcon="false" [modal]="true" position="center">
    
    <ng-template pTemplate="content">
        <form>
            <h5>Informações do animal</h5>
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Nome do pet">         
                    </div>
                </div>
                
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Qual o tipo?">     
                    </div>
                </div>
                        
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                     
                        <input type="text" pInputText placeholder="Envie uma foto do animal">      
                    </div>
                </div>
            </div>
                
            <h5>Região</h5>
            <div class="grid">
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Estado">   
                        <input type="text" pInputText placeholder="Cidade">       
                    </div>
                </div>
            </div>
            
            <h5>Info sobre o apadrinhamento</h5>
            <div class="grid">
                <div class="col-12">
                    <div class="p-inputgroup">
                      
                        <span class="p-float-label">
                            <textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
                            <label for="float-input">Quais doações o animal necessita?</label>
                        </span> 
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    
        
    <ng-template pTemplate="footer">
        <div class="m-2">
            <button pButton label="Concluir" class="p-button-rounded" (click)="this.formVisible = false"></button>
        </div>
    </ng-template>

</p-dialog>
