<p-dialog #form header="Novo Apadrinhamento" [visible]="getFormStatus()" [closable]="false" [draggable]="false" [resizable]="false" closeIcon="false" [modal]="true" position="center">
    
    <ng-template pTemplate="content">
        <form style="width: 700px; height: 450px" [ngSwitch]="getActiveIndex()" [formGroup]="formApadrinhamento">
            <div class="card">
                <p-steps [readonly]="true" [model]="getStepMenu()" [activeIndex]="getActiveIndex()"></p-steps>
            </div>
            <div *ngSwitchCase=0>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-6">
                        <div class="p-inputgroup">
                                <input id="petName" type="text" name="nome" formControlName="nome" (change)="validate()" pInputText placeholder="Nome do pet">
                        </div>
                        <small *ngIf="!pet.nome.valid" class="p-error block">{{pet.nome.message}}</small>
                    </div>
                    
                    <div class="col-12 md:col-6">
                        <div>
                            <p-dropdown placeholder="Qual o Pet?" [options]="getPetypes()" optionLabel="type"></p-dropdown>     
                        </div>
                    </div>
                </div>
                    
                <h5>Região</h5>
                <div class="grid">
                    <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            <input type="text" pInputText formControlName="regiao" placeholder="Estado">   
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            <input type="text" pInputText formControlName="img" placeholder="Imagem">   
                        </div>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase=1>
                <div class="grid p-fluid">
                    <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            <input type="text" pInputText placeholder="Bairro">
                        </div>
                    </div>
                    
                    <div class="col-12 md:col-6">
                        <div>
                            <input type="text" pInputText placeholder="Cidade">
                        </div>
                    </div>
                </div>
                    
                <div class="grid">
                    <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            <input type="text" pInputText placeholder="Estado">   
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            <input type="text" pInputText placeholder="Estado">   
                        </div>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase=2>
                <div class="grid p-field">
                    <div class="col-3 md:col-6">
                        <div class="p-inputgroup">
                            <p-fileUpload mode="basic" name="demo[]" accept="image/*" class="mybutton" styleClass="p-button-outlined"></p-fileUpload>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </ng-template>
    
        
    <ng-template pTemplate="footer">
        <div class="m-2">
            <button pButton label="Voltar" class="p-button-rounded p-button-text" (click)=previousStep()></button>
            <button pButton *ngIf="getActiveIndex()!=3" label="Próximo" class="p-button-rounded p-button-outlined" (click)=nestStep()></button>
            <button pButton *ngIf="getActiveIndex()==3" type="submit" label="Concluir" class="p-button-rounded" (click)=nestStep()></button>
        </div>
    </ng-template>

</p-dialog>
