.p-menubar{
    background-color: var(--primary-color);
    border: 0;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text{
    color: white;
}

.pi-home::before{
    color:white;
}

.card {
    margin: 2rem;
}